// site styles
// 
@import 'compass/css3';
@import 'compass/utilities/general/clearfix';
@import '_vars';

html, body, #wrap-outer {
    height: 100%;
}

.dg {
    input {
        line-height: 1.4;
    }

    .save-row {
        display: none;
    }

    &.main.a.has-save > ul {
        margin-top: 0;
    }
}

.slider {
    margin: 10px 16px;
    border: 1px solid $grey-dark;
    height: 12px;
    background: #fff;
    z-index: 1;
    cursor: pointer;

    .handle {
        background: $grey;
        border: 1px solid $deep-grey-light;
        width: 32px;
        height: 32px;
        z-index: 2;
        @include box-sizing( border-box );
        @include border-radius( 50% );

        &:hover {
            background: #fff;
        }
    }

    .meter {
        z-index: 1;
        background: $blue;
        border: 1px solid $blue;
    }
}

#controls {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 280px;
    margin: -140px 0 0 -200px;
    border: 1px solid $grey-dark;
    background: lighten($grey-light, 5);
    padding: 1em;
    z-index: 100;
    @include box-sizing( border-box );
    @include border-radius( 3px );

    label {
        display: block;
        text-align: center;
    }

    .slider {
        margin-bottom: 1.5em;
    }

    .labels {
        @include clearfix;
        margin-bottom: 1em;

        label {
            float: left;
            width: 30%;
            line-height: 1.8;
        }

        .ctrl {
            float: left;
            width: 70%;
        }

        .slider {
            margin: 10px 1em;
        }
    }

    #ctrl-move {
        position: absolute;
        bottom: 0;
        right: 0;
        background: $deep-grey-dark image-url('icon-move.png') no-repeat center center;
        background-size: 50%;
        color: rgba(0,0,0,0);//$grey-light;
        padding: 1em 0.5em;
        cursor: move;
    }

    .center {
        text-align: center;
        button {
            display: inline-block;
        }
    }
}

#sim canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#sim .pjs-meta {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    background: #fff;
}

#sim .physics-layer-tiny {
    z-index: 1;
}
#sim .physics-layer-paths {
    z-index: 2;
}
#sim .physics-layer-main {
    z-index: 3;
}

@media screen and (max-width: 500px){
    #viewport * {
        display: none;
    }

    #viewport:after {
        content: 'Sorry but your screen is too small. Try viewing the site on a larger screen.';
        position: absolute;
        top: 200px;
        padding: 2em;
        font-size: 2em;
        line-height: 1.5;
    }
}
