// site styles
// 
@import 'compass/css3';
@import '_vars';

html, body, #wrap-outer {
    height: 100%;
}

.dg {
    input {
        line-height: 1.4;
    }

    .save-row {
        display: none;
    }

    &.main.a.has-save > ul {
        margin-top: 0;
    }
}

#controls {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin: -100px 0 0 -200px;
    background: $deep-grey-dark;
    color: $grey-light;
    padding: 1em;
    @include box-sizing( border-box );
}

#sim canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#sim .pjs-meta {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    background: #fff;
}

#sim .physics-layer-tiny {
    z-index: 1;
}
#sim .physics-layer-paths {
    z-index: 2;
}
#sim .physics-layer-main {
    z-index: 3;
}