$font-family-comic: 'sf_cartoonist_hand', Helvetica, Arial, sans-serif;
$font-family-sans-serif: 'pt-sans', Helvetica, Arial, sans-serif;
$font-family-mono: 'latin-modern-mono', Courier, monospace;
$font-family-mono-light: 'latin-modern-mono-light', Courier, monospace;
$font-family-minute-labs: $font-family-mono;

// Colors
// 
$blue: rgb(40, 136, 228);
$blue-light: rgb(91, 191, 243);
$blue-dark: rgb(18, 84, 151);

$deep-blue: rgb(0, 80, 224);
$deep-blue-light: rgb(109, 155, 243);
$deep-blue-dark: rgb(0, 37, 143);

$red: rgb(233, 63, 51);
$red-light: rgb(244, 183, 168);
$red-dark: rgb(167, 42, 34);

$red-orange: rgb(235, 96, 51);
$red-orange-light: rgb(244, 18, 140);
$red-orange-dark: rgb(151, 52, 29);

$orange: rgb(239, 132, 51);
$orange-light: rgb(247, 195, 138);
$orange-dark: rgb(159, 80, 31);

$grey: rgb(220, 220, 220);
$grey-light: rgb(237, 237, 237);
$grey-dark: rgb(200, 200, 200);

$deep-grey: rgb(67, 67, 67);
$deep-grey-light: rgb(98, 98, 98);
$deep-grey-dark: rgb(26, 26, 26);

$green: rgb(121, 229, 0);
$green-light: rgb(125, 242, 129);
$green-dark: rgb(64, 128, 0);

$yellow: rgb(228, 212, 44);
$yellow-light: rgb(242, 232, 110);
$yellow-dark: rgb(139, 129, 23);
